/* ------------Google font------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}
.half-width h1{
    font-size: 50px;
}
.half-width a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 40px;
    background-image:linear-gradient(to right, #ffdb4d , #ff6600); 
    border-radius: 5px;
}